<nav>
  <ul class="main-nav cf">
    <li class="main-nav-item">
      <a href="/who-we-are"{% if slug == "who-we-are" %} class="is-current-page"{% endif %}>Who We Are</a>
    </li>
    <li class="main-nav-item">
      <a href="/our-work"{% if slug == "our-work" %} class="is-current-page"{% endif %}>Our Work</a>
    </li>
    <li class="main-nav-item">
      <a href="/news"{% if slug == "news" %} class="is-current-page"{% endif %}>News</a>
    </li>
    <li class="main-nav-item">
      <a href="/working-with-htspe"{% if slug == "working-with-htspe" %} class="is-current-page"{% endif %}>Working w/ HTSPE</a>
    </li>
  </ul>
</nav>
<hr>
