@import "hacks";
@import "variables";
@import "grid";


/* Page Setup
================================ */
*{
  box-sizing: border-box;
}

html{
  font-family: 'Permanent Marker', cursive;
  font-size: 12px;
  line-height: 1.5;
}

img, video, object{ max-width: 100% }

article, header, nav, section {
    display: block;
}


/* Page Layout
================================ */
body{
  margin: 0;
}
.wrap{
  overflow: hidden;
}
.utility-bar{
  padding: .5em;
  background-color: $blue;
  ul{
    list-style: none;
    margin: 0;
    li{
      float: right;
      margin-right: 1.5em;
      a{
        color: $white;
      }
      a:hover{
        color: $white;
      }
      a:visited{
        color: $white;
      }
    }
  }
}
header{
  @include width(5);
  margin: auto;
}
.content{
  @include width(5);
  margin: auto;
}
.footer{
  min-height: 4em;
  padding: .5em;
  background-color: $blue;
  margin-top: 1em;
}
/* Section Styles
================================ */

/* Page */

a{
  color: $blue;
  text-decoration: none;
}

/* Header */

.site-title{
  font-size: 3.4rem;
  margin: 0 0 .2em 0;
}

.main-nav {
  margin: 0 0 1em 0;
  padding: 0;
  display: block;
  width: 100%;
    li{
      display: block;
      float: left;
      margin: 0 1.5em 0 0;
      list-style: none;
      font-size: 1.2rem;
    }
}

.is-current-page{
  color: #999;
  pointer-events: none;
}

hr{
  border: 1px solid $gray;
  margin-bottom: 1em;
}

/* Generic Content */

.content-title{
  font-size: 2.4rem;
  line-height: 1.3;
  margin: 0 0 0.5em;
}

.post-preview{
  border-top: 1px dotted #d4d7d9;
  margin: 1em 0 0;
  padding: 1em 0 0;
}

.subpage-menu a{
  display: inline-block;
  margin-right: 15px;
}

/* Home */

.who-we-are img{
  float: left;
  margin: 0 .5em .2em 0;
}

.home-nav{
  display: none;
}
.section-col1{
  @include width(3);
  float: left;
  margin-right: $gutter;
}
.section-col2{
  @include width(2);
  float: right;
  ul{
    padding: 0;
    margin-top: .2em;
    li{
      list-style-type: none;
      font-size: .8rem;
    }
  }
}
.news-block-one, .news-block-two{
  @include width(5);
}
//—————————————————————//
//****Media Queries****//
//—————————————————————//
/*
  Mobile layout
  240–479 px
  Zoomed out below 320 px
*/

@media screen and (min-width: 15em) {

}
/*
  Wide mobile layout
  480-767 px
  Zoomed in above 480 px
*/
@media screen and (min-width: 30em) {
  html{
    font-size: 14px;
  }
  header{
    @include width(6);
  }
  .content{
    @include width(6);
  }
  .section-col1{
    @include width(4);
  }
  .section-col2{
    @include width(2);
  }
  .news-block-one, .news-block-two{
    @include width(3);
  }
  .news-block-one{
    float: left;
    margin-right: $gutter;
  }
  .news-block-two{
    float: right;
  }
}
/*
  Tablet layout
  600-911 px
  Zoomed in above 600 px
*/
@media screen and (min-width: 37.5em) {
  html{
    font-size: 15px;
  }
  header{
    @include width(8);
  }
  .content{
    @include width(8);
  }
  .home-nav{
    display: block;
    @include width(2);
    float: left;
    margin-right: $gutter;
    text-align: right;
    ul{
      padding: 0;
      margin-top: .2em;
    }
    li{
      list-position: outside;
      list-style-type: none;
      margin: 0;
      font-size: .8rem;
    }
  }
  .home-section{
    @include width(6);
    float: right;
  }
  .home-section-title{
    margin-top: 0;
  }
  .section-col1{
    @include width(4);
  }
  .section-col2{
    @include width(2);
  }
}
/*
  Widescreen layout
  912-1887 px
  Zoomed in above 912 px
*/
@media screen and (min-width: 57em) {
  html{
    font-size: 16px;
  }
  header{
    @include width(12);
  }
  .content{
    @include width(12);
  }
  .home-nav{
    @include width(2);
  }
  .home-section{
    @include width(10);
  }
  .section-col1{
    @include width(6);
  }
  .section-col2{
    @include width(4);
  }
  .news-block-one, .news-block-two{
    @include width(5);
  }
}
/* I got 99 problems, but this last line ain't one */
